<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<table class="table" border="1" style="width: 300px">
    <td>Users</td>
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Email</td>
        <td>Age</td>
    </tr>
    <tbody th:each="person:${people}">
    <tr>
        <div>
            <td>
        <a th:href="@{/people/{id}(id=${person.getId()})}" th:text="${person.getId()}">Person</a>
        </td>
        </div>
        <td th:text="${person.getName()}">Person</td>
        <td th:text="${person.getAge()}">Person</td>
        <td th:text="${person.getEmail()}">Person</td>
    </tr>
    </tbody>
</table>
<a href="/people/new">Create new user</a>
</body>
</html>